Flow.json
[{"id":"8c9fbcc4.3825d","type":"tab","label":"MFP1業務APIスタブ","disabled":false,"info":""},{"id":"670cee78.8b491","type":"http in","z":"8c9fbcc4.3825d","name":"","url":"/accounts","method":"get","upload":false,"swaggerDoc":"","x":150.1666717529297,"y":69.33334350585938,"wires":[["7bf4ba6f.1f5cd4","e04b3579.e28058"]]},{"id":"7bf4ba6f.1f5cd4","type":"function","z":"8c9fbcc4.3825d","name":"setResponse","func":"if (msg.req.headers[\"x-client-id\"]===\"err500\") {\n    msg.statusCode = 500;\n} else if (msg.req.headers[\"x-client-id\"]===\"err400\") {\n    msg.statusCode = 400;\n    msg.payload = {\n        errorCode: \"errorCode\",\n        errorMessage: \"errorMessage\"\n    };\n} else {\n    msg.statusCode = 200;\n    msg.payload = {\n                customerInformation: \"string\",\n                userId: \"string\",\n                accountsList: [\n                    {\n                        accountId: \"string\",\n                        accountName: \"string\",\n                        accountKanjiName: \"string\",\n                        bankCode: \"string\",\n                        branchNumber: \"string\",\n                        accountType: \"string\",\n                        accountNumber: \"string\",\n                        branchName: \"string\",\n                        branchKanjiName: \"string\",\n                        currencyCode: \"string\",\n                        paymentLimit: 0,\n                        paymentLock: false,\n                        transactionAmountFlag: false,\n                        additionalAccountType: \"string\",\n                        additionalInformation: \"string\"\n                        \n                    }\n                ]\n            };\n    }\nreturn msg;","outputs":1,"noerr":0,"x":394.16668701171875,"y":69,"wires":[["df897885.f77ec8"]]},{"id":"df897885.f77ec8","type":"http response","z":"8c9fbcc4.3825d","name":"","statusCode":"","headers":{},"x":591.1666870117188,"y":68.66667175292969,"wires":[]},{"id":"e04b3579.e28058","type":"debug","z":"8c9fbcc4.3825d","name":"","active":true,"console":"false","complete":"true","x":355.16668701171875,"y":125.66667175292969,"wires":[]},{"id":"9d55487.abf5ab8","type":"comment","z":"8c9fbcc4.3825d","name":"4.4.1.提供口座情報取得（一覧）","info":"","x":200.1666717529297,"y":28,"wires":[]},{"id":"48260d24.ebd704","type":"http in","z":"8c9fbcc4.3825d","name":"","url":"/accounts/:accountId/balance","method":"get","upload":false,"swaggerDoc":"","x":209,"y":240,"wires":[["69eb2ef2.1b8a8","3d60b64d.e2607a"]]},{"id":"69eb2ef2.1b8a8","type":"function","z":"8c9fbcc4.3825d","name":"setResponse","func":"if (msg.req.headers[\"x-client-id\"]===\"err500\") {\n    msg.statusCode = 500;\n} else if (msg.req.headers[\"x-client-id\"]===\"err503\") {\n    msg.statusCode = 503;\n} else if (msg.req.headers[\"x-client-id\"]===\"err400\") {\n    msg.statusCode = 400;\n    msg.payload = {\n        errorCode: \"errorCode\",\n        errorMessage: \"errorMessage\"\n    };\n} else if (msg.req.params.accountId===\"err404\") {\n    msg.statusCode = 404;\n} else {\n    msg.statusCode = 200;\n    msg.payload = {\n        accountId: \"string\",\t\t\t\n        currencyCode: \"string\",\t\t\t\n        currentAmount: 0,\t\t\t\n        recordDate: \"yyyy-mm-dd\",\t\t\t\n        recordTime: \"HH:MM:SStime-offset\",\t\t\t\n        availableAmount: 0,\t\t\t\n        originalLoanAmount: 0,\t\t\t\n        originalLoanDate: \"yyyy-mm-dd\"\t\n            };\n    }\nreturn msg;","outputs":1,"noerr":0,"x":490.00001525878906,"y":239.66665649414062,"wires":[["c20f2f48.5b5ff"]]},{"id":"c20f2f48.5b5ff","type":"http response","z":"8c9fbcc4.3825d","name":"","statusCode":"","headers":{},"x":673.0000152587891,"y":239.3333282470703,"wires":[]},{"id":"3d60b64d.e2607a","type":"debug","z":"8c9fbcc4.3825d","name":"MFP1","active":true,"console":"false","complete":"true","x":354.00001525878906,"y":296.3333282470703,"wires":[]},{"id":"f61b050e.3c0c38","type":"comment","z":"8c9fbcc4.3825d","name":"4.4.2.個別残高照会","info":"","x":159,"y":198.66665649414062,"wires":[]}]